<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NaoRemote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NaoRemote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NaoRemote.Properties.Settings>
            <setting name="NaoIPAddress" serializeAs="String">
                <value>10.0.1.2</value>
            </setting>
            <setting name="NaoPortNumber" serializeAs="String">
                <value>9559</value>
            </setting>
            <setting name="NaoBehaviorRootDirectory" serializeAs="String">
                <value>contingency/</value>
            </setting>
            <setting name="TextToSpeechSentence" serializeAs="String">
                <value>I can say anything you type here.</value>
            </setting>
            <setting name="SubjectNumberDefault" serializeAs="String">
                <value>1</value>
            </setting>
        </NaoRemote.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NaoRemote.Properties.Settings>
            <setting name="VideoResolution" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="VideoFormat" serializeAs="String">
                <value>MJPG</value>
            </setting>
            <setting name="VideoFilePrefix" serializeAs="String">
                <value>nao_video_participant_</value>
            </setting>
            <setting name="VideoFileSuffix" serializeAs="String">
                <value>.avi</value>
            </setting>
            <setting name="VideoDirectory" serializeAs="String">
                <value>/home/nao/recordings</value>
            </setting>
        </NaoRemote.Properties.Settings>
    </applicationSettings>
</configuration>